body {
    background-color: hsl(30, 38%, 92%);
    padding-bottom: 2rem;
    overflow: auto;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    max-width: 90%;
    max-height: 90%;
    margin-top: 2rem;
    margin-left: 1rem;
    border-radius: 1rem;
    padding-bottom: 2rem;
}

.container {
    width: 100%;
    height: 100%;
}

.image-product-mobile {
    display: block;
    width: 100%;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

.image-product-desktop {
    display: none;
}

.content {
    margin-left: 1.5rem;
}

h1 {
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat";
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.4rem;
    margin-top: 1.5rem;
}

h2 {
    color: hsl(212, 21%, 14%);
    font-family: "Fraunces";
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1.3rem;
}

p {
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat";
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.4rem;
    width: 95%;
    margin-top: 1rem;
}

h3 {
    color: hsl(158, 36%, 37%);
    font-family: "Fraunces";
    font-size: 2rem;
}

h4 {
    position: absolute;
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat";
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: line-through;
    margin-top: -3.7rem;
    margin-left: 9rem;
}

.button-cart {
    background-color: hsl(158, 36%, 37%);
    width: 18.4rem;
    height: 3.1rem;
    margin-left: -0.2rem;
    border: none;
    border-radius: 0.5rem;
    font-family: "Montserrat";
    font-size: 0.9rem;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding-left: 1.5rem;
}

.icon-cart {
    position: absolute;
    margin-top: 1rem;
    margin-left: -13rem;
    padding-right: 2rem;
}

@media screen and (min-width: 990px) and (max-width: 1440px) {

    .card {
        position: static;
        width: 45%;
        height: 100%;
        margin-left: 25rem;
        padding: 0;
        border-radius: 0.75rem;
    }

    .container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

    .image-product-mobile {
        display: none;
    }

    .image-product-desktop {
        display: block;
        width: 52%;
        border-top-left-radius: 0.75rem;
        border-bottom-left-radius: 0.75rem;
    }

    .content {
        width: 45%;
        margin-right: 0.5rem;
        margin-left: 2rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
    }

    h1 {
        font-size: 0.7rem;
        margin-top: 2.5rem;
    }

    h2 {
        font-size: 2rem;
        width: 80%;
        padding: 0;
        line-height: 2.1rem;
    }

    h3 {
        margin-top: 1.5rem;
    }

    p {
        width: 90%;
    }

    .button-cart {
        max-width: 15rem;
        padding-left: 1.5rem;
        overflow: hidden;
    }

    .icon-cart {
        position: absolute;
        padding-left: 2rem;
    }
}